@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");


/* Colors and fonts */


body {
  background: #E4E9BE;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;

}
h1 {
  color: #000000;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

.banner {
  color: black;
}

.my-work {
  color: black;
}

.links {
  color: black;
}

.btn-blue {
  background-color: #FAFDD6;
  color: #000000;
  padding: 15px 20px;
  border-radius: 4px;
}

.container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

.img-circle {
  border-radius: 10%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

div {
  display: block;
}

.card-white {
  background-color: #E4E9BE;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#introduction p {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
